useDynLib(RSclient, RS_assign, RS_authkey, RS_close, RS_collect, RS_connect, RS_ctrl_str, RS_decode, RS_eq, RS_eval, RS_eval_qap, RS_oob_cb, RS_print, RS_secauth, RS_switch)
# old client
export(RSassign, RSattach, RSclose, RSconnect, RSdetach, RSeval, RSevalDetach, RSlogin, RSshutdown, RSserverEval, RSserverSource)
# new client
export(RS.connect, RS.eval, RS.eval.qap, RS.close, RS.switch, RS.authkey, RS.login, RS.collect, RS.assign, RS.oobCallbacks)
export(RS.server.eval, RS.server.source, RS.server.shutdown)
S3method(print, RserveConnection)
S3method("!=", RserveConnection)
S3method("==", RserveConnection)
